/* *************
Header 
************* */
body{
    background-color: var(--color-bg);
}


body header h1 img{
    width: 20%;
    height: auto;
}

body header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    inset: 0 0 auto;
    padding: 1rem;
    align-items: center;
    background-color: var(--color-text);
}

body nav ul{
    inset: 0 0 0 0;
}

body nav ul li{
    list-style: none;
}

body header nav ul li a{
    font-family: 'kawasakimain';
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5em;
    height: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 3;
}

.hamburger span {
    width: 100%;
    height: 20%;
    background-color: var(--color-thirdAccent);
}

nav {
    position: absolute;
    top: 50%;
    right: 0;
    background-color: var(--color-mainAccent);
    display: none; 
    z-index: 2; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

nav li {
    padding: 1rem;
    border-bottom: 0.1em solid var(--color-thirdAccent);
}

nav li:last-child {
    border-bottom: none;
}

nav a {
    color: var(--color-thirdAccent);
    text-decoration: none;
}

nav ul label{
    display: none;
}

nav ul input{
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 1rem;
    border: none;
    background-color: var(--color-secondAccent);
    color: var(--color-kawasakikleur);
}

nav.active {
    display: block;
}

@media only screen and (min-width: 850px) {    

    header{
        height: 9.2em;
    }

	nav {
        display: flex;
        justify-content: flex-start; 
        padding: 0;
        background: none;
    }
    
    .hamburger {
        display: none; 
    }

    nav li {
        border-bottom: none;
    }

    nav ul{
        display: flex;
        margin: 1em;
        gap: 1em;
    }
    
    nav ul li a:hover{
        color: var(--color-kawasakikleur);
    }

    nav ul input{
        position: absolute;
        top: -2em;
        width: 80%;
        right: 2.5em;
    }
}

@media only screen and (min-width: 1350px){
    body header{
        display: flex;
    }

    nav ul input{
        display: flex;
        position: relative;
        top: -2.6em;
        height: 3em;
    }

    nav ul li a{
        display: flex;
        justify-content: space-evenly;
        position: relative;
        top: -3em;
    }

}


/* ************
FORM #1
************ */

body main form {
    margin-top: 5em;
    padding: .5em;
}

body main form fieldset{
    border: none;
}

body main form fieldset legend{
    display: none;
}

body main form fieldset label{
    display: none;
}

body main form fieldset select {
    width: 100%;
    padding: 1em;
    font-size: 1rem;
    border: none;
    appearance: none;
    text-transform: uppercase;
    color: var(--color-textLD);
    background-repeat: no-repeat;
    background-size: 1em;
}

/* **************
Select responsive
***************** */
select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

fieldset ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

fieldset ul li {
    margin: 0.5rem 0;
}

fieldset ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-text);
}


@media (min-width: 850px) {
    select {
        display: none;
    }

    fieldset ul {
        display: block;
        font-family: 'basictext';
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 4em;
    }

    fieldset ul li{
        border-bottom: 0.1em  solid var(--color-kawasakikleur);
        width: 8em;
        margin-bottom: 1.5em;
    }

    fieldset ul li a{
        color: var(--color-textLD);
    }

    fieldset ul li:hover{
        transform: translateX(2em);
        transition: transform 0.3s ease;
    }
    fieldset ul li a:hover{
        color: var(--color-kawasakikleur);
    }

    main form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        height: 230%;
        position: absolute;
    }

    section {
        margin-left: 20%;
    }

    main section:nth-of-type(1){
        top: 7.5em;
    }
}




/* *******************
KERNWAARDEN STUK 
******************* */
body main section:nth-of-type(1){
    position: relative;
}

body main section:nth-of-type(1) img:nth-of-type(1){
    position: absolute;
    width: 23em;
    z-index: -1;
    /* Hulp van sanne bij laatste gesprek */
    clip-path:polygon(
        0 0,
        100% 100%,
        100% 0,
        0 0
    );
    top: 0;
    right: 0;
}

body main section:nth-of-type(1) span {
    color: var(--color-kawasakikleur);
    font-size: 2rem;
    font-family: 'basicbold';
}

body main section:nth-of-type(1) h2{
    padding: 2em;
    font-family: 'basicbold';
    font-size: 2em;
}

body main section:nth-of-type(1) blockquote{
    font-family: 'basicbold';
    padding: 2em;
    line-height: 1.8em;
    max-width: 52ch;
    z-index: -1;
    color: var(--color-textLD);
}

body main section:nth-of-type(1) p{
    font-family: 'basictext';
    padding: 2em;
    line-height: 2.2em;
    max-width: 52ch;
    color: var(--color-textLD);
}

body main section:nth-of-type(1) img{
    width: 100%;
}

@media (min-width: 650px){
    body main section:nth-of-type(1) img{
        width: 50%;
        position: absolute;
        right: 0;
    }

    body main section:nth-of-type(1) blockquote{
        font-family: 'basicbold';
        padding: 2em;
        max-width: 52ch;
        font-size: 1.4em;
    }

    body main section:nth-of-type(1) img:nth-of-type(1){
    width: 75%;
    }

    body main section:nth-of-type(1) p{
        margin-top: 10em;
    }

}




/* *******************
KERNWAARDEN STUK #2
******************* */
body main section:nth-of-type(2){
    background-color: var(--color-footerLight);
    padding: 1em;
    width: 90%;
    margin: auto;
    margin-top: 2em;
}


body main section:nth-of-type(2) h2{
    color: var(--color-kawasakikleur);
    font-family: 'kawasakisport';
    font-size: 5em;
    margin-top: -.8em;
    margin-left: 1em;
}

body main section:nth-of-type(2) h3{
    color: var(--color-lightText);
    font-family: 'kawasakibasic';
    text-align: left;
    margin-top: 2em;
}


@media (min-width: 650px){
    body main section:nth-of-type(2){
        position: absolute;
        width: 35%;
        right: 0;
    }
}


/* *******************
KERNWAARDEN STUK #3
******************* */

body main section:nth-of-type(3) h2{
    display: none;
}

body main section:nth-of-type(3) img{
    width: 90%;
    margin-top: 4em;
    margin-left: 2em;
    margin-bottom: 2em;
}

body main section:nth-of-type(3) p{
    font-family: 'basictext';
    padding: 2em;
    line-height: 2.2em;
    width: 52ch;
    background-color: var(--color-accentKernwaarden);
    color: var(--color-textLD);
    margin: auto;
    width: 100%;
}

@media (min-width: 650px){
    body main section:nth-of-type(3) img{
        width: 45%;
        margin-top: 7em;
    }

    body main section:nth-of-type(3) p{
        width: 100%;
    }
    
}

