@font-face {
    font-family: 'Kawasakibasic'; 
    src: url('../fonts/kawasaki-font-basic.woff2') format('woff2');
}

@font-face{
	font-family: 'kawasaki';
	src: url(../fonts/kawasaki-font.woff2);
}

@font-face{
	font-family: 'kawasakisport';
	src: url(../fonts/kawasaki-sport.woff2);
}

@font-face{
	font-family: 'kawasakisportnobold';
	src: url(../fonts/kawasaki-sport-no-bold.woff2);
}

@font-face{
	font-family: 'basicbold';
	src: url(../fonts/basicbold.woff2);
}

@font-face{
	font-family: 'basictext';
	src: url(../fonts/basictext.woff2);
}

@font-face{
	font-family: 'kawasakimain';
	src: url(../fonts/kawasakimain.woff2);
}




/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;
	margin: 0;  
}
  
  
/*********************/
/* CUSTOM PROPERTIES */
/*********************/


:root {
	color-scheme: light dark;

	--color-textLD:light-dark(black, white);
	--color-sectionArticlebg:light-dark(#fff, #222);
	--color-kopjes:light-dark(black, white);
	--color-reversedTextColor:light-dark(white, black);
	--color-headers:light-dark(black, white);
	--color-buttons:light-dark(black,white);
	--color-bg:light-dark(#fff, black);
	--color-accentKernwaarden:light-dark(#ccc, #222);

	--color-text:#111;
	--color-background:#ffffff;
	--color-kawasakikleur: #43b02a;
	--color-mainAccent: #333;
	--color-secondAccent: #222;
	--color-thirdAccent: white;
	--color-buttonAccent: #ccc;
	--color-lightText:white;
	--color-placeholderTime: #bbb;
	--color-footerLight: #666;
}	




/* **********
footer
********** */

footer {
    font-family: 'kawasaki';
    color: var(--color-lightText);
    text-align: center;
	width: 100%;
}

footer section:nth-of-type(1) {
    background-color: var(--color-footerLight);
    padding: 1em;
}

footer section:nth-of-type(1) h4 {
    color: var(--color-kawasakikleur);
    font-weight: bold;
    margin-bottom: 1.2em;
}

footer section:nth-of-type(1) ul li{
    color:var(--color-lightText);
    margin: 1.2em;
    font-size: 1.5rem;
    text-decoration: none;
	list-style-type: none;
}

footer section:nth-of-type(3) {
    background-color: var(--color-secondAccent);
    padding: 1em;
}

footer section:nth-of-type(3) h4 {
    margin: 1.2em;
    font-size: 0.9rem;
}

footer section:nth-of-type(3) ul li a{
    color: var(--color-lightText);
    text-decoration: none;
    font-size: 0.9rem;
	list-style-type: none;
	font-family: 'basictext';
	margin: 1em;
}

footer section:nth-of-type(3) ul li{
    color: var(--color-lightText);
	list-style-type: none;
}


footer section {
    width: 100%;
    margin: 0;
    padding: 0;
}

footer section:nth-of-type(2){
	display: none;
}


@media only screen and (min-width: 850px) {

	footer section:nth-of-type(1) {
		display: none;
	}
	
	footer section:nth-of-type(2){
		display: grid;
		background-color: var(--color-text);
		width: 100%;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		padding: 1em;
	}

	footer section:nth-of-type(2) h4{
		color: var(--color-kawasakikleur);
		font-family: 'kawasakisport';
		text-transform: uppercase;
		grid-row: 1;
		margin-top: 2em;
		text-align: left;
	}

	footer section:nth-of-type(2) li{
		list-style: none;
		text-decoration: none;
		color: var(--color-lightText);
		margin-bottom: 1.5em;
		text-align: left;
	}

	footer section:nth-of-type(2) li a{
		text-decoration: none; 
		color: var(--color-lightText);
		margin-bottom: 1em;
		font-family: 'basictext';
		text-transform: none;
		font-size: smaller;
	}

}

footer button{
    border: none;
    color: var(--color-kawasakikleur);
    cursor: pointer;
    font-size: 1em;
	background: none;
    font-family: 'kawasakimain';
	padding: 1em;	

}


/* ***********
Tab styling
************** */

:focus{
	color: var(--color-kawasakikleur);
	outline-color: var(--color-kawasakikleur);
	outline-style: dashed;
	outline-offset: .2em;
	outline-width: .2em;
}


