@font-face {
    font-family: 'Kawasakibasic'; 
    src: url('../fonts/kawasaki-font-basic.woff2') format('woff2');
}

@font-face{
	font-family: 'kawasaki';
	src: url(../fonts/kawasaki-font.woff2);
}

@font-face{
	font-family: 'kawasakisport';
	src: url(../fonts/kawasaki-sport.woff2);
}

@font-face{
	font-family: 'kawasakisportnobold';
	src: url(../fonts/kawasaki-sport-no-bold.woff2);
}

@font-face{
	font-family: 'basicbold';
	src: url(../fonts/basicbold.woff2);
}

@font-face{
	font-family: 'basictext';
	src: url(../fonts/basictext.woff2);
}




/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;
	margin: 0;  
  }
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	  /* startje */
	  --color-text:#111;
	  --color-background:#eee;
  
	  --color-witteh2:white;
	  --color-kawasakikleur: #43b02a;
	  --color-wit: white;
	  --color-donkergrijs: #333;
	  --color-ligtgrijs: #ccc ;
	  --color-ligtgrijs2: #666;
	  --color-grijsaccent: #bbb;
	  --color-donkergrijsaccent: #222;
	  --color-witaccent: #f5f5f6;
  }

  
  
  @media (prefers-color-scheme: dark) {
	  :root {
		  --color-text: white; 
		  --color-background: black; 
	  
		  --color-heading: black; 
		  --color-kawasakikleur: #43b02a; 
		  --color-light-text: black; 
		  --color-dark-gray: #b8b6b6; 
	  }
  }




